.recents_container{
    padding: 1px 10px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: white;
}

.recents_title{
    font-size: 14px;
    font-weight: 600;
}

.recents_tags_container{
    margin-left: 35px;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}

.recents_tags_container>p{
    cursor: pointer;
}